<html>
	<header>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		{% stylesheets '@LaAppBundle/Resources/public/css/main.css' '@LaAppBundle/Resources/public/bootstrap/css/bootstrap.css' %}
		  <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
		{% endstylesheets %}
		{% javascripts '@LaAppBundle/Resources/public/js/main_me.js' '@LaAppBundle/Resources/public/bootstrap/js/bootstrap.js' %}
		    <script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		
	</header>
	<body>
	<div class="row">
	    <div class="left-section">
	    	<div id="menu">
	    		<h1>Là</h1>
	    		<div class="btn-menu"><i class="fa fa-ellipsis-v fa-2x"></i> </div>
	    	</div>
	    	<div id="menu-section">
				<a class="btn-list-menu" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Log out</a>
			</div>
		    <div id="content">
			    <div id="homepanel">
			    	<img height="50" src="{{ asset("userimages/") ~ userPicture }}"/>
			    	<h2>{{ me|capitalize }}</h2>
					<a class="btn-home" id="btn-friends"><i class="fa fa-users"></i> Friends</a>
			        <a class="btn-home" id="btn-conversations"><i class="fa fa-comments"></i> Conversations</a>
			        <br>
			        <a class="btn-home btn-newmessage"><i class="fa fa-pencil-square-o"></i> New Là</a>
			    </div>
			    <div class="second" id="friendspanel">
			    	<a class="btn-home btn-back"><i class="fa fa-chevron-left"></i> Back</a>
			    	<h3><i class="fa fa-users fa-2x"></i>  Friends</h3>
			    	<div class="friends-section">
						{% for friend in friends %}
					        <p>{{ friend|capitalize }}
					        {% if friend.status == 0 %}
					        	<small>waiting for response</small>
					        {% elseif friend.status == 1 %}
					        	<small><a class="acceptinvitation" data-name="{{ friend }}">Accept the invitation</a></small>
					        {% endif %}
					        </p>
					    {% endfor %}
					    <a class="btn-home" id="btn-addfriend"><i class="fa fa-user-plus"></i> Add friend</a>
					</div>
			    </div>
			    <div class="second" id="conversationspanel">
				    <a class="btn-home btn-back"><i class="fa fa-chevron-left"></i> Back</a>
				    <br>
				    <a class="btn-home btn-newmessage"><i class="fa fa-pencil-square-o"></i> New Là</a>
					<h3><i class="fa fa-comments fa-2x"></i>  Conversations</h3>
					{% for conversation in conversations %}
				        <div class="conversation">
				        <h4 class="btn-messages">
				        {% for user in conversation.users %}
				        	{{ user.username|capitalize }}{% if not loop.last %} - {% endif %}
				        {% endfor %}
				        <span>{{ conversation.messages|length }}</span>
				        </h4>
				        {% for message in conversation.messages %}
					        <div data-id="{{ message.id }}" data-lat="{{ message.latitude }}" data-long="{{ message.longitude }}" class="message">
					        	{% if ((message.status == 1) or (message.status == 0)) and message.author != me %}
						        <div class="notopen">
						        	<i class="fa fa-eye fa-4x"></i>
						        </div>
						        {% endif %}
					     		<small>{{ message.author }}</small>
					        	<small>{{ message.latitude }} - {{ message.longitude }}</small>
					        	<p  class="lead">{{ message.text }}</p>
					        </div>
				        {% endfor %}
				        </div>
				    {% endfor %}

			    </div>
			    <div class="second" id="newmessagepanel">
			    	<a class="btn-home btn-back"><i class="fa fa-chevron-left"></i> Back</a>
			    	<h3><i class="fa fa-pencil-square-o fa-2x"></i>  New message</h3>
			    	<form>
					  <div class="form-group col-sm-12">
				    	<label class="col-sm-2 control-label"><i class="fa fa-user"></i></label>
				      	<select id="newmessageuser" class="col-sm-10">
					      	<option value="" disabled selected>Select your friend</option>
				    	{% for friend in friends %}
				    		{% if friend.status == 2 %}
					        <option value="{{ friend }}">{{ friend|capitalize }}</option>
					        {% endif %}
					    {% endfor %}
						</select>
					  </div>
					  <div class="form-group  col-sm-12">
					    <label for="message" class="col-sm-2 control-label"><i class="fa fa-pencil"></i> </label>
					    <div class="col-sm-10">
					      <textarea class="form-control" rows="3" id="newmessagetext"></textarea>
					    </div>
					  </div>
					  <div class="form-group  col-sm-12">
					    <label for="location" class="col-sm-2 control-label"><i class="fa fa-globe"></i> </label>
					    <div class="col-sm-4">
					      <input type="number" class="form-control" id="newmessagelat" placeholder="Lat">
					    </div>
					    <div class="col-sm-4">
					      <input type="number" class="form-control" id="newmessagelong" placeholder="Long">
					    </div>
					    <div class="col-sm-2">
					      <i id="btn-setlocation" class="fa fa-compass fa-2x"></i>
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-9 col-sm-3">
					      <button type="submit" class="btn btn-default" id="sentmessage">Là <i class="fa fa-location-arrow"></i></button>
					    </div>
					  </div>
					</form>
			    </div>
			    <div class="second" id="addfriendpanel">
			    	<a class="btn-home btn-back"><i class="fa fa-chevron-left"></i> Back</a>
			    	<h3><i class="fa fa-user-plus fa-x3"></i> Add friend</h3>
			    	<div class="modal-body">
				        <form class="form-inline" style="text-align:center">
						  <div class="form-group">
						    <input type="text" class="form-control" id="newfriendusername" placeholder="User Name">
						  </div>
						  <button type="submit" class="btn btn-default" id="btn-searchFriend">Search</button>
						</form>
						<div id="newFriendResponse" style="text-align:center">

						</div>
			      </div>
			    </div>
		    </div> <!-- end content -->
	    </div> <!-- end left section -->


	    <div class="right-section" id="map">
	    	<script>
	    	var laIcon = L.icon({
			    iconUrl: '{{ asset("images/mini_logo_map.png") }}',
			    shadowUrl: '{{ asset("images/mini_logo_map_shadow.png") }}',

			    iconSize:     [42, 50], // size of the icon
			    shadowSize:   [51, 50], // size of the shadow
			    iconAnchor:   [21, 50], // point of the icon which will correspond to marker's location
			    shadowAnchor: [0, 50],  // the same for the shadow
			    popupAnchor:  [0, -40] // point from which the popup should open relative to the iconAnchor
			});
		    	


			var messages = new L.LayerGroup();
			{% for conversation in conversations %}
				{% for message in conversation.messages %}
					{% if message.status == 2 or message.author == me %}
			        L.marker([{{ message.latitude }}, {{ message.longitude }}], {icon: laIcon}).bindPopup('<h2>{{ message.author }}</h2> <p>{{ message.text }}</p>').addTo(messages);		
			        {% endif %}
			    {% endfor %}
		    {% endfor %}


		    var mbAttr = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
					'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
					'Imagery © <a href="http://mapbox.com">Mapbox</a>',
				mbUrl = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';

		    var grayscale   = L.tileLayer(mbUrl, {id: 'examples.map-20v6611k', attribution: mbAttr});

			var map = L.map('map', {
				center: [48.85807, 2.29489],
				zoom: 18,
				layers: [grayscale, messages]
			});

			

			function changeCenter(lat, long){
				var currentZoom = map.getZoom()
				map.setView(new L.LatLng(lat, long), currentZoom);
				//map.panTo(new L.LatLng(lat, long));
			}
		
		    </script>
	    </div>
	</div>


	</body>
</html>